{% extends "layout.html" %}
{% load static %}
{% block container %}
    <br><br>
    <div class="col-lg-6 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <h5>Your Merchant list: </h5>
                {% if getmerchant.count > 0 %}
                <div class="form-group">
                    {% for get_merchant in getmerchant %}
                    <h5 class="text-purple">{{ get_merchant.merchant.username }}</h5>
                    {% endfor%}
                </div>
                {% else %}
                <div class="form-group">
                    <h5 class="text-info">No merchant connects in your wallet. Add one.</h5>
                </div>
                {% endif %}
                <form class="form-horizontal form-material" action="{% url 'add_merchant' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5 class="card-title m-b-0">Add Merchant</h5>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12">Select Merchant:</label>
                        <div class="col-sm-12">
                            <select name="merchant_option" class="form-control form-control-line">
                                {%  for merchant in merchantlist %}
                                <option value={{merchant.id}}>{{merchant.username}}</option>
                                {%  endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-success">Add</button>
                        </div>
                    </div>
                </form>
                <div id="error-msg-red">
                    {% if messages %}
                    {% for message in messages %}
                      <div class="{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
