{% extends "layout.html" %}
{% load static %}
{% block container %}
    <br><br>
    <div class="col-lg-4 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Tab panes -->
            <div class="card-body">
                <h5 align="center">Show your QR code to your merchant to scan payment</h5>
                <div class="form-group">
                    <h5><img src="{% static filename %}"></h5>
                </div>
                <div id="error-msg-red">
                    {% if messages %}
                    {% for message in messages %}
                      <div class="{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
